footer{
    padding-top: 50px;
    margin-top: 100px;
    background: #E5E5E5;
        a{
            color: #787878;
            display: inline-block;

            &:hover{
                color: black;
                font-weight: 500;
            }
        }

        .social-medias{
            .logo{
                color: $header-main;
            }
           
            .contact-me{
                margin-top: 50px;
                
            }
        }
        & img{
            width: 35px;
            height: 30px;
        }
}