header {
    background-color: $header-main;
    padding: 1rem 0;
    transition: 0.5s;

    & #offcanvasNavbar {
        background-color: $header-main;

        @media screen and(max-width:990.999px) {
            .offcanvas-header {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }

        @media screen and(max-width:610px) {
            ul {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .nav {
        &__link {
            position: relative;
            font-size: 17px;
            transition: $control-transition-time;
            padding-bottom: 3px !important;
            &::after{
                content: "";
                position: absolute;
                height: 3px;
                width: 0%;
                left: 0;
                bottom: 0;
                transition: 0.5s;
                background: #fff;
            }&:hover::after{
                width: 100%;
            }
            &:hover{
                color: white !important;
            }
        }

        @media screen and(max-width:990.999px) {
            &__link {
                font-size: 20px;  
            }
        }
    }

    & .active {
        color: white !important;
    }

    & .btn {
        &__call {
            background: transparent !important;
            border: none;
            border-radius: 25px;
            transition: $control-transition-time;
            border: 1px solid $header-main !important;

            &:hover {
                background-color: $call-btn !important;
            }
        }
     }
}

.navbar-shrink {
    background-color: #0a475a;
    box-shadow: 0 0 8px #086e8d;
    padding: 5px !important;
}

    .btn-close:focus,
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: none;
}