button {
  border: none;
}

.btn1 {
  background: transparent;
  border-radius: 25px;
  width: 140px;
  height: 60px;
  cursor: pointer;
  color: white;
  transition: 0.5s;
  &:hover{
    background: $btn-color;
  }
}

.btn2 {
  background: $btn-color;
  border-radius: 30px;
  width: 191px;
  height: 61px;
  cursor: pointer;
}


.mybtn {
  text-decoration: none;
  left: 95% !important;
  right: 15% !important;
  width: 60px;
  height: 60px;
  bottom: 10px;
  background-color: $call-btn;
  transform: translate(-50% -50%);
  transition: $control-transition-time;
}

/*On Hover Color Change*/
.mybtn:hover {
  background-color: $header-main;
}

@media screen and (max-width: 1105px) {
  .mybtn {
    right: 7% !important;
    left: 93% !important;
  }
}
@media screen and (max-width: 850px) {
  .mybtn {
    right: 10% !important;
    left: 90% !important;
  }
}
@media screen and (max-width: 600px) {
  .mybtn {
    right: 15% !important;
    left: 85% !important;
  }
}
@media screen and (max-width: 300px) {
  .mybtn {
  bottom: 0;
  }
}