button {
  border: none;
}

.btn1 {
  background: $btn-color;
  border-radius: 25px;
  width: 140px;
  height: 60px;
  cursor: pointer;
  color: white;
}

.btn2 {
  background: $btn-color;
  border-radius: 30px;
  width: 191px;
  height: 61px;
  cursor: pointer;
}


.mybtn {
  text-decoration: none;
  left: 95% !important;
  right: 15% !important;
  width: 60px;
  height: 60px;
  bottom: 10px;
  background-color: $call-btn;
  transform: translate(-50% -50%);
  transition: $control-transition-time;
}

/*On Hover Color Change*/
.mybtn:hover {
  background-color: $header-main;
}
