$carousel-color: #ffa800;
$control-transition-time: 0.5s;

#carousel {
  .carousel-item {
    img {
      height: 500px;
      object-fit: cover;
      min-width: 600px;
      width: 100%;
    }
  }

  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
  }

  .carousel-fade .carousel-item.active {
    opacity: 1;
  }

  .container {
    padding: 0;
  }

  .carousel-control {

    &-prev,
    &-next {
      top: auto;
      bottom: auto;
      top: 450px;
      width: 50px;
      height: 50px;
      border: 1px solid $carousel-color;
      border-radius: 50%;
      opacity: 1;
      transition: $control-transition-time;

      &:hover {
        background-color: $carousel-color;
      }
    }

    &-prev {
      left: calc(50% + 100px);

      @media screen and (max-width: 768px) {
        bottom: -55px;
        right: auto;
        left: 15px;
      }

      &:hover>.carousel-control-prev-icon {
        background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
      }

      &-icon {
        transition: $control-transition-time;
        background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 166, 58)'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
      }
    }

    &-next {
      left: calc(50% + 180px);

      @media screen and (max-width: 768px) {
        bottom: 15px;
        right: 15px;
        left: auto;
      }

      &:hover>.carousel-control-next-icon {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
      }

      &-icon {
        transition: $control-transition-time;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 166, 58)'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
      }
    }
  }
}

.carousel-left {
  & h3 {
    max-width: 550px;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    color: $call-btn;
  }

  & a {
    transition: $control-transition-time;
  }

  & a:hover {
    background: #FFF8EB;
    border-radius: 30px;
    color: $btn-color !important;
  }

  & .date {
    font-size: 14px;
  }
}

.carousel-item-content {
  padding-left: 30px;

  & h2 {
    color: $call-btn;
    font-size: 40px;
    max-width: 220px;
  }

  & p {
    max-width: 320px;
  }

  & a {
    transition: $control-transition-time;
    color: $call-btn;
    padding: 16px 30px;
    border-radius: 30px;

    &:hover {
      background: $btn-color;
      color: white;
    }
  }
}

.carousel-left {
  @media screen and (max-width:595px) {

    h3,
    p,
    a {
      display: none;
    }
  }
}

.carousel-item-content {
  @media screen and (max-width:595px) {
    & p {
      display: none;
    }

    & a {
      margin-top: 30px;
    }
  }
}

#experiance {
  background-image: url("../../images/back-image.png");
  padding: 100px 0;
  margin-bottom: 200px;
}

#experiance .right-side {
  margin-top: 300px !important;
}

#experiance .right-side .text {
  color: #FFFFFF;
  margin-top: 40px;
}

#experiance .right-side .dev-name {
  color: #AABFC6;
  margin-top: 20px;
}

#experiance .right-side .carousel-control-next,
#experiance .right-side .carousel-control-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -430px;
  margin-top: 400px !important;
  bottom: auto;
}

#experiance .right-side .carousel-control-next {
  left: calc(50% + 200px);
  top: calc(-100% + 100px);
}

#experiance .right-side .carousel-control-prev {
  left: calc(50% + 100px);
  top: calc(-100% + 100px);
}

.portrait {
  max-width: 600px;
  width: 100%;
  height: 700px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote {
  padding-bottom: 80px;
}

.next,
.prev {
  background: transparent !important;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffa800 !important;
  transition: $control-transition-time;

  & .next-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 214, 0)'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

  & .prev-icon {
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 214, 0)'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
  }

  &:hover {
    background: #FFD600 !important;

    & .next-icon {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }

    & .prev-icon {
      background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
    }
  }
}

.about-carousel {
  padding-top: 25px;
  @media screen and (max-width:600px) {
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (min-width:600px) and (max-width:1000px) {
    justify-content: center;
    gap: 50px !important;
  }
  @media screen and (max-width:1000px) {
    padding-bottom: 50px;
  }
}