@import "../abstracts/variables";
@import "../components/buttons";
@import "../components/carousel";
@import "../components/loader";

/*FONTS*/
// Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
//Schoolbell
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.container-sm{
  max-width: 1200px !important;
  @media screen and(min-width:500px) {
  padding: 0 50px;
  }
}

a {
  text-decoration: none !important;
}

hr{
  width: 100%;
  height: 40px #D5D5D5;
}

